#avantages{
    position: relative;
    background-color: $black;
    z-index: -3;
    width: 100vw;

    .contenu-section{
        padding: 65px 0;
    }
    .round{
        position: absolute;
        top: 0;
        
        img{
            @media (max-width: 590px){ 
                height: 200px;
            }
        }
    }
}

.avantages{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 822px){ 
        flex-wrap: wrap;
    }

    li{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 25px;
        text-align: center;
        &:last-child{
            margin-right: 0;
        }
        @media (max-width: 822px){ 
            align-items: flex-start;
            text-align: start;
            margin-bottom: 50px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .ico{
        margin-bottom: 25px;

        img{
            @media (max-width: 822px){ 
                height: 30px;
            }
        }
    }
    .descr{
        color: $white;
        font-size: 1.25rem;

    }
}

.wave2{
    z-index: -3;
    position: absolute;
    bottom: -150px;
    @media (max-width: 1190px){ 
        bottom: -120px;
    }
    @media (max-width: 969px){ 
        display: none;
    }

    img{
        max-width: 100%;
        width: 4000px;
        height: 100%;
        // @media (min-width: 2160px){ 
        //     width: 200%;
        // }
    }
}

