nav{
    background-color: $black;
    height: 84px;
    width: 100%;
    position: fixed;

    .contain{
        height: 100%;
        width: 94%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .button{
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .primary{
            margin-right: 20px;
        }
    }
}

header{

    height: 100vh;

    .content{
        padding-top: 84px;
        height: 100%;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        .left{
            display: flex;
            justify-content: center;
            flex-direction: column;
            .baseline{
                margin-top: 17px;
                font-weight: bold;
                font-size: 1.25rem;
            }
    
            .description{
                font-size: 1.25rem;
                margin-top: 30px;
                width: 554px;
                line-height: 1.2;
            }
    
            .btn{
                margin-right: 15px;
            }
        }

        .right{
            width: 100%;
            display: flex;

            .content-img{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
            img{
                width: 597px;
                height: 590px;
            }
        }
    }
}