
.modal{
    color: $black;
    .modal-content{
        background-color: $white;
    }
    .modal-header{
        padding: 1rem 2rem;
        position: relative;
        .close{
            padding: 0;
            margin: 0;
            position: absolute;
            top: 10px;
            left: 20px;
        }

        .titleContainer{
            width: 100%;
            display: flex;
            justify-content: center;

            .modal-title{
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
    }

    .modal-body{
        padding: 1.7rem 2rem;

        .title-modal{
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 40px;
        }
    }

    .button{
        padding: 50px 0 20px 0;
    }
}

.form-inscription{
    .conteneur-champ{
        position: relative;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        input, select{
            background-color: $white;
        }
    }

    input, select{
        position: relative;
        padding: 15px 10px;
        border-radius: 8px;
        border: 2px solid;

        &:not(.nom-prenom){
            width: 100%;
        }
    }

    .champ-nom-prenom{
        display: flex;
        justify-content: space-between;
        max-width: 100%;

        .nom, .prenom{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 48%;
        }

        .nom{
            margin-right: 10px;
        }
    }

    .modal-btn{
        margin-top: 20px;
        width: 100%;
        background-color: $yellow;
        padding: 16px 42px;
        border-radius: 26px;
        font-weight: bold;
        border: 0;
    }

    .form-label{
        position: absolute;
        top: -8px;
        z-index: 3;
        left: 8px;
        background-color: $white;
        padding: 0 5px;
    }

    .c-obligatoire{
        color: red;
    }

}