#rejoindre{

    .box{
        display: flex;
        margin: 50px 0;
        @media (max-width: 1225px){ 
            flex-direction: column;
        }

        .left-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 50px;
            @media (max-width: 590px){ 
                height: 200px;
            }
            @media (max-width: 1225px){ 
                margin-right: 0;
            }

            .title-categorie{
                font-size: 2.125rem;
                font-weight: bold;
                margin-bottom: 25px;
                @media (max-width: 1320px){ 
                    font-size: 1.8rem;
                }
                @media (max-width: 590px){ 
                    font-size: 1.2rem;
                }
            }

            .descr{
                font-size: 1.125rem;
                line-height: 1.3;
                @media (max-width: 590px){ 
                    font-size: 1rem;
                }
            }
        }

        .right-content{
            @media (max-width: 1225px){ 
                display: flex;
                justify-content: center;
                margin: 25px 0 35px 0;
                &:last-child{
                    margin: 25px 0 0 0;
                }
            }
            img{
                width: 500px;
                @media (max-width: 1225px){ 
                    width: 300px;
                }
            }
        }
    }

    .sejour{
        flex-direction: row-reverse;
        @media (max-width: 1225px){ 
            flex-direction: column;
        }
        
        .left-content{
            margin: 0 0 0 50px;
            @media (max-width: 1225px){ 
                margin: 0 0 0 0;
            }
        }
    }
}