@import "_variables.scss";
@import "_header.scss";
@import "_modal.scss";
@import "_avantages.scss";
@import "_video.scss";
@import "_faq.scss";
@import "_cta.scss";
@import "_rejoindre.scss";
@import "_footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: $white;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend', sans-serif;
    color: $black;
    overflow-x: hidden;
}

.btn{
    padding: 0;
    display: inline-block;
    a{
        text-decoration: none;
        color: $black;
        font-weight: bold;
        padding: 16px 42px;
        border-radius: 26px;
    }
}

.button{
    padding: 50px 0;
    .primary{
        a{
            background-color: $yellow;
            transition: 0.3s;
            &:hover{
                background-color: $yellow2;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                transition: 0.3s;
            }
        }
    }
    
    .secondary{
        a{
            padding: 12px 38px;
            background-color: transparent;
            color: $white;
            border: 4px $white solid;
            transition: border-color 0.3s;

            &:hover{
                transition: border-color 0.3s;
                border-color: $yellow;
            }
        }
    }

    .black{
        a{
            background-color: $black;
            color: $white;
            transition: 0.3s;

            &:hover{
                background-color: $black2;
                color: $white;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                transition: 0.3s;
            }
        }
    }

    .secondary2{
        a{
            padding: 12px 38px;
            background-color: transparent;
            color: $black;
            border: 4px $yellow solid;
            transition: background-color 0.3s;
            @media (max-width: 1317px){ 
                color: $white;
            }
            &:hover{
                background-color: $yellow;
                transition: background-color 0.3s;
            }
        }
    }
}

.title{
    font-size: 3.9375rem;
    font-weight: bold;
    color: $yellow;
    @media (max-width: 1225px){ 
        font-size: 3rem;
    }
    @media (max-width: 590px){ 
        font-size: 1.8rem;
    }
}

.content{
    width: 70%;
    margin: 0 auto;
}
.front{
    position: relative;
    z-index: 1;
}

section{

    .title{
        text-align: center;
        line-height: 1.3;
    }
}