@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
nav {
  background-color: #24253B;
  height: 84px;
  width: 100%;
  position: fixed;
  z-index: 3;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.45);
}

nav .contain {
  height: 100%;
  width: 94%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 610px) {
  nav .contain .logo {
    display: none;
  }
}

@media (max-width: 610px) {
  nav .contain .primary {
    display: none;
  }
}

nav .button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .button .primary {
  margin-right: 20px;
}

@media (max-width: 1225px) {
  header {
    background-image: url(../assets/images/bigBanner.jpg);
    background-size: cover;
    color: #F8FBFF;
  }
}

header .content {
  padding-top: 84px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1732px) {
  header .content {
    width: 80%;
  }
}

header .content .left {
  padding-top: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .content .left .baseline {
  margin-top: 17px;
  font-weight: bold;
  font-size: 1.25rem;
}

header .content .left .description {
  font-size: 1.25rem;
  margin-top: 30px;
  width: 554px;
  line-height: 1.2;
}

@media (max-width: 675px) {
  header .content .left .description {
    width: 100%;
  }
}

header .content .left .btn {
  margin-right: 15px;
}

@media (max-width: 500px) {
  header .content .left .btn {
    margin-bottom: 50px;
  }
}

header .content .right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1225px) {
  header .content .right {
    display: none;
  }
}

header .content .right .content-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1732px) {
  header .content .right .content-img img {
    height: 80%;
  }
}

@media (max-width: 1565px) {
  header .content .right .content-img img {
    height: 65%;
  }
}

.wave {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 1225px) {
  .wave {
    display: none;
  }
}

.modal .modal-content {
  background-color: #F8FBFF;
}

.modal .modal-header {
  padding: 1rem 2rem;
  position: relative;
}

.modal .modal-header .close {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 20px;
}

.modal .modal-header .titleContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-header .titleContainer .modal-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.modal .modal-body {
  padding: 1.7rem 2rem;
}

.modal .modal-body .title-modal {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.modal .button {
  padding: 50px 0 20px 0;
}

:required::after {
  content: "";
  background-color: red;
  height: 100px;
}

.form-inscription .conteneur-champ {
  margin-bottom: 15px;
}

.form-inscription .conteneur-champ:last-child {
  margin-bottom: 0;
}

.form-inscription input, .form-inscription select {
  position: relative;
  padding: 15px 10px;
  border-radius: 8px;
  border: 2px solid;
}

.form-inscription input:not(.nom-prenom), .form-inscription select:not(.nom-prenom) {
  width: 100%;
}

.form-inscription .champ-nom-prenom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-inscription .champ-nom-prenom .nom-prenom {
  width: 48%;
}

.form-inscription .modal-btn {
  margin-top: 20px;
  width: 100%;
  background-color: #FBBB1A;
  padding: 16px 42px;
  border-radius: 26px;
  font-weight: bold;
  border: 0;
}

#avantages {
  position: relative;
  background-color: #24253B;
  z-index: -3;
  width: 100vw;
}

#avantages .contenu-section {
  padding: 65px 0;
}

#avantages .round {
  position: absolute;
  top: 0;
}

@media (max-width: 590px) {
  #avantages .round img {
    height: 200px;
  }
}

.avantages {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 822px) {
  .avantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.avantages li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 25px;
  text-align: center;
}

.avantages li:last-child {
  margin-right: 0;
}

@media (max-width: 822px) {
  .avantages li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
    margin-bottom: 50px;
  }
  .avantages li:last-child {
    margin-bottom: 0;
  }
}

.avantages .ico {
  margin-bottom: 25px;
}

@media (max-width: 822px) {
  .avantages .ico img {
    height: 30px;
  }
}

.avantages .descr {
  color: #F8FBFF;
  font-size: 1.25rem;
}

.wave2 {
  z-index: -3;
  position: absolute;
  bottom: -200px;
}

@media (max-width: 969px) {
  .wave2 {
    display: none;
  }
}

.wave2 img {
  width: 150%;
  height: 100%;
}

@media (min-width: 2160px) {
  .wave2 img {
    width: 200%;
  }
}

#video {
  margin: 300px 50px 100px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 969px) {
  #video {
    margin: 100px 50px 100px 50px;
  }
}

@media (max-width: 540px) {
  #video {
    margin: 50px 50px 50px 50px;
  }
}

#video #c-video {
  width: 100%;
  max-width: 844px;
  position: relative;
  overflow: hidden;
}

#video #c-video video {
  width: 100%;
}

#c-video:hover .controls {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(100%) translateY(-5px);
          transform: translateY(100%) translateY(-5px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.yellowButtons {
  padding: 10px;
}

.yellowButtons button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.yellowButtons button:before {
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  width: 45px;
  height: 45px;
  display: inline-block;
  font-size: 40px;
  color: #fbbb1a;
  -webkit-font-smoothing: antialiased;
}

.yellowButtons button.play:before {
  content: "\f144";
}

.yellowButtons button.pause:before {
  content: "\f28b";
}

.yellowBar {
  height: 10px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}

.yellow {
  height: 10px;
  background-color: #fbbb1a;
}

.buttonMiddlePlay button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  font-size: 10rem;
  z-index: 2;
  color: #fbbb1a;
  width: 100%;
  height: 100%;
}

@media (max-width: 705px) {
  .buttonMiddlePlay button {
    font-size: 5rem;
  }
}

.buttonsLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 2%;
}

input[type="range"] {
  margin-top: 13%;
  margin-left: 2%;
  -webkit-appearance: none !important;
  background: black;
  height: 12px;
  border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none !important;
  background: #fbbb1a;
  height: 20px;
  width: 20px;
  border-radius: 100px;
}

.mute {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.mute.muted {
  opacity: 0.5;
}

.mute .slash {
  position: absolute;
  width: 2px;
  height: 50%;
  background: #fbbb1a;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  display: none;
}

.mute.muted .slash {
  display: block;
}

.control-button {
  cursor: pointer;
  background: transparent;
  color: #fbbb1a;
  border: none;
  font-size: 1.5rem;
}

.control-button:active, .control-button:focus {
  outline: none;
}

#faq {
  margin: 100px 0;
}

@media (max-width: 590px) {
  #faq {
    margin: 50px 0;
  }
}

#faq .accordion {
  margin-top: 100px;
}

#faq .accordion .card {
  border: none;
  background-color: transparent;
  margin-bottom: 15px;
}

#faq .accordion .card .card-header {
  background-color: transparent;
}

#faq .accordion .card .card-header .chevron {
  margin-left: 15px;
}

#faq .accordion .card .card-header .btn-link {
  white-space: normal;
  font-weight: bold;
  color: #24253B;
  padding: 0;
  text-decoration: none;
  width: 100%;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#faq .accordion .card .card-header .btn-link:hover {
  color: #FBBB1A;
}

#faq .questions {
  font-weight: 300;
  padding: 2.3rem 1.25rem;
}

#faq .questions a {
  color: #FBBB1A;
  font-weight: bold;
}

#cta {
  padding: 150px 0;
  background-color: #FBBB1A;
  margin-top: 100px;
  position: relative;
  width: 100vw;
}

#cta .title {
  color: #24253B;
  margin: 0 25px;
}

#cta .button {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cta .button .black {
  font-size: 23px;
}

#rejoindre .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
}

@media (max-width: 1225px) {
  #rejoindre .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#rejoindre .box .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 50px;
}

@media (max-width: 590px) {
  #rejoindre .box .left-content {
    height: 200px;
  }
}

@media (max-width: 1225px) {
  #rejoindre .box .left-content {
    margin-right: 0;
  }
}

#rejoindre .box .left-content .title-categorie {
  font-size: 2.125rem;
  font-weight: bold;
  margin-bottom: 25px;
}

@media (max-width: 1320px) {
  #rejoindre .box .left-content .title-categorie {
    font-size: 1.8rem;
  }
}

@media (max-width: 590px) {
  #rejoindre .box .left-content .title-categorie {
    font-size: 1.2rem;
  }
}

#rejoindre .box .left-content .descr {
  font-size: 1.125rem;
  line-height: 1.3;
}

@media (max-width: 590px) {
  #rejoindre .box .left-content .descr {
    font-size: 1rem;
  }
}

@media (max-width: 1225px) {
  #rejoindre .box .right-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 25px 0 35px 0;
  }
  #rejoindre .box .right-content:last-child {
    margin: 25px 0 0 0;
  }
}

#rejoindre .box .right-content img {
  width: 500px;
}

@media (max-width: 1225px) {
  #rejoindre .box .right-content img {
    width: 300px;
  }
}

#rejoindre .sejour {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1320px) {
  #rejoindre .sejour {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#rejoindre .sejour .left-content {
  margin: 0 0 0 50px;
}

@media (max-width: 1225px) {
  #rejoindre .sejour .left-content {
    margin: 0 0 0 0;
  }
}

footer {
  background-color: #24253B;
  color: #F8FBFF;
}

footer a {
  color: #F8FBFF;
  white-space: nowrap;
}

footer .footer-contain {
  padding: 70px 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1299px) {
  footer .footer-contain {
    width: 90%;
  }
}

@media (max-width: 1094px) {
  footer .footer-contain {
    width: 50%;
  }
}

@media (max-width: 1094px) {
  footer .footer-contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-contain .info .list-sn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-contain .info .list-sn li {
  font-size: 1.35rem;
  margin-right: 15px;
  margin-bottom: 0;
}

footer .footer-contain .info .list-sn li:last-child {
  margin: 0;
}

footer .footer-contain .info .list-sn li a {
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

footer .footer-contain .info .list-sn li a:hover {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #FBBB1A;
}

footer .footer-contain .nav-footer a {
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

footer .footer-contain .nav-footer a:hover {
  color: #FBBB1A;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

footer .footer-contain .footer-title {
  text-transform: uppercase;
  font-weight: bold;
}

footer .footer-contain li, footer .footer-contain .footer-title, footer .footer-contain .logo {
  margin-bottom: 25px;
}

footer .footer-contain .link-mobile {
  display: none;
}

@media (max-width: 1000px) {
  footer .footer-contain .link-mobile {
    display: block;
  }
}

@media (max-width: 1000px) {
  footer .footer-contain .link-desktop {
    display: none;
  }
}

footer .footer-contain .location {
  margin-bottom: 40px;
}

@media (max-width: 1094px) {
  footer .footer-contain .cr, footer .footer-contain .info {
    margin-bottom: 50px;
  }
}

body {
  background-color: #F8FBFF;
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend', sans-serif;
  color: #24253B;
  overflow-x: hidden;
}

.btn {
  padding: 0;
  display: inline-block;
}

.btn a {
  text-decoration: none;
  color: #24253B;
  font-weight: bold;
  padding: 16px 42px;
  border-radius: 26px;
}

.button {
  padding: 50px 0;
}

.button .primary a {
  background-color: #FBBB1A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button .primary a:hover {
  background-color: #eeb116;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button .secondary a {
  padding: 12px 38px;
  background-color: transparent;
  color: #F8FBFF;
  border: 4px #F8FBFF solid;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.button .secondary a:hover {
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  border-color: #FBBB1A;
}

.button .black a {
  background-color: #24253B;
  color: #F8FBFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button .black a:hover {
  background-color: #141420;
  color: #F8FBFF;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button .secondary2 a {
  padding: 12px 38px;
  background-color: transparent;
  color: #24253B;
  border: 4px #FBBB1A solid;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media (max-width: 1225px) {
  .button .secondary2 a {
    color: #F8FBFF;
  }
}

.button .secondary2 a:hover {
  background-color: #FBBB1A;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.title {
  font-size: 3.9375rem;
  font-weight: bold;
  color: #FBBB1A;
}

@media (max-width: 1225px) {
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 590px) {
  .title {
    font-size: 1.8rem;
  }
}

.content {
  width: 70%;
  margin: 0 auto;
}

.front {
  position: relative;
  z-index: 1;
}

section .title {
  text-align: center;
  line-height: 1.3;
}
/*# sourceMappingURL=style.css.map */